@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  margin: 0 auto;

  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8;
  background: var(--color-grey-900, rgba(20, 20, 20, 1));
}

main {
  width: 24rem;
  height: 38.1875rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300, 24);
  padding: var(--spacing-500, 2.5rem);
  border-radius: 0.75rem;
  background: var(--color-grey-800, rgba(31, 31, 31, 1));
}

img {
  margin: auto;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 62.4375rem;

  transition: transform 0.3s ease-in-out;
}
img:hover {
  transform: scale(1.2);
}

h1 {
  width: 19rem;
  height: 1.3125rem;

  color: var(--color-white, rgba(255, 255, 255, 1));
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

h2 {
  width: 19rem;
  height: 1.3125rem;

  color: var(--color-green, rgba(196, 248, 42, 1));
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

p {
  width: 19rem;
  height: 1.3125rem;

  color: var(--color-white, rgba(255, 255, 255, 1));
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

button {
  width: 19rem;
  height: 2.8125rem;
  margin: 0.5rem 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-150, 0.75rem);

  border: none;
  border-radius: 0.5rem;
  background: var(--color-grey-700, rgba(51, 51, 51, 1));

  color: var(--color-white, rgba(255, 255, 255, 1));
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
button:hover {
  color: black;
  background-color: var(--color-green, rgba(196, 248, 42, 1));
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: white;
}
.attribution a {
  color: var(--color-green, rgba(196, 248, 42, 1));
}
